@import 'variables.scss';
@import 'breakpoint.scss';
.headline {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 1120px;
    height: 552px;
    margin-top: 150px;
    &__img {
        position: relative;
        z-index: 1;
        right: 79px;
        min-width: 599px;
        height: 502px;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationMain.png');
        background-repeat: no-repeat;
        background-position: center;
        margin-top: 50px;
    }
    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        color: $main-black;
    }
    &__description {
        position: relative;
        z-index: 3;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        font-family: $main-font;
        color: $main-black;
    }
    &__upload-btn {
        width: 300px;
        height: 50px;
        background-color: $main-blue;
        border: none;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        font-family: $main-font;
        color: white;
        text-transform: uppercase;
        box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    }
}

.headline-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 600px;
    height: 310px;
}

@include small_device {
    .headline-text {
        min-width: 480px;
        height: 310px;
        align-items: center;
    }
}

@include small_device {
    .headline {
        width: 640px;
        height: 892px;
        flex-direction: column;
        &__img {
            right: 0;
        }
        &__title {
            width: 480px;
            font-style: normal;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 1px;
        }
        &__description {
            width: 480px;
        }
        &__upload-btn {
            align-self: flex-start;
            margin-left: 80px;
        }
    }
}

.reviews {
    position: relative;
    z-index: 1;
    bottom: 100px;
    width: 1120px;
    height: 280px;
    display: flex;
    justify-content: space-between;
}

@include small_device {
    .reviews {
        width: 640px;
        height: 660px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        bottom: 60px;
        z-index: 4;
        margin-top: 45px;
    }
}

.blue {
    display: none;
}

@include small_device {
    .blue {
        position: relative;
        z-index: 5;
        bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/PleaseVisitDesktopSiteSectionBackground.png');
        width: 640px;
        height: 180px;
        & span {
            display: block;
            width: 520px;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 40px;
            color: white;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .men {
        margin-bottom: 50px;
        margin-top: 20px;
    }
}

.review {
    width: 540px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(25, 104, 252, 0.3);
    &__text {
        display: flex;
        justify-content: space-between;
        width: 460px;
        margin-top: 20px;
        &_avatar_men {
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-2.png');
            width: 100px;
            height: 100px;
        }
        &_avatar_women {
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/TestimonialPicture-1.png');
            width: 100px;
            height: 100px;
        }
        &_name {
            position: relative;
            z-index: 1;
            width: 280px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 20px;
            & span:nth-child(1) {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 30px;
            }
            & span:nth-child(2) {
                color: #1967FA;
                font-weight: 600;
                font-size: 14px;
                line-height: 30px;
            }
        }
        &_img {
            position: relative;
            z-index: 2;
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IllustrationQuote.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            width: 60px;
            height: 46px;
        }
    }
    &__senior {
        width: 460px;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
    }
}

.wokflow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 1165px;
    height: 415px;
    margin-top: 40px;
}

@include small_device {
    .wokflow {
        width: 640px;
        height: 745px;
        align-items: center;
    }
}

.how {
    top: -25px;
    position: relative;
    width: 1120px;
    & span {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 60px;
        text-transform: uppercase;
    }
    & p {
        position: absolute;
        left: -40px;
        width: 80px;
        height: 2px;
        background-color: $main-blue;
        box-shadow: 0px 2px 0px #D1E1FE;
    }
}

@include small_device {
    .how {
        width: 520px;
        & p {
            left: 0;
        }
    }
}

.blocks {
    position: relative;
    display: flex;
    & .step3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        bottom: -30px;
        right: -154px;
        &_content {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            width: 250px;
            &_text {
                display: flex;
                flex-direction: column;
                & span:nth-child(1) {
                    width: 200px;
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                & span:nth-child(2) {
                    width: 200px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 40px;
                    color: $main-blue;
                    text-transform: uppercase;
                }
            }
            &_img {
                background-image: url('img/IconUseCode.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 40px;
                height: 36px;
            }
        }
        & .text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            width: 250px;
            margin-bottom: 20px;
        }
        .decor {
            position: absolute;
            background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/DecorationJuju.png');
            width: 25px;
            height: 25px;
            right: -5px;
            bottom: -5px;
        }
    }
    & .step1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: -35px;
        &_content {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            width: 250px;
            &_text {
                display: flex;
                flex-direction: column;
                & span:nth-child(1) {
                    width: 200px;
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                & span:nth-child(2) {
                    width: 200px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 40px;
                    color: $main-blue;
                    text-transform: uppercase;
                }
            }
            &_img {
                background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson26/hw1/IconDownload.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
            }
        }
        & .text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            width: 250px;
            margin-bottom: 20px;
        }
        .decor {
            position: absolute;
            background-image: url('img/DecorationJuju.png');
            width: 25px;
            height: 25px;
            right: -5px;
            bottom: -5px;
        }
    }
    & .step1::after {
        position: absolute;
        content: '';
        width: 70px;
        height: 1px;
        border-top: 2px dashed $main-blue;
        right: -73px;
        top: 50%;
    }
    & .step2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        left: 77px;
        bottom: 10px;
        &_content {
            display: flex;
            justify-content: space-between;
            width: 250px;
            margin-top: 40px;
            &_text {
                display: flex;
                flex-direction: column;
                & span:nth-child(1) {
                    width: 200px;
                    font-size: 12px;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                & span:nth-child(2) {
                    width: 200px;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 40px;
                    color: $main-blue;
                    text-transform: uppercase;
                }
            }
            &_img {
                background-image: url('img/IconDownload.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 40px;
                height: 40px;
            }
        }
        & .text {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 30px;
            width: 250px;
            margin-bottom: 20px;
        }
        .decor {
            position: absolute;
            background-image: url('img/DecorationJuju.png');
            width: 25px;
            height: 25px;
            right: -5px;
            bottom: -5px;
        }
    }
    & .step2::after {
        position: absolute;
        content: '';
        width: 70px;
        height: 1px;
        border-top: 2px dashed $main-blue;
        right: -73px;
        top: 50%;
        ;
    }
}

@include small_device {
    .blocks {
        flex-direction: column;
        justify-content: space-between;
        height: 640px;
        & .step1,
        & .step2,
        & .step3 {
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
            width: 520px;
            height: 180px;
            &_content {
                width: 440px;
            }
            & .text {
                width: 440px;
            }
        }
        & .step1::after,
        & .step2::after {
            z-index: 5;
            width: 55px;
            right: 0;
            left: 20px;
            top: 114%;
            transform: rotate(90deg);
        }
    }
}

.wokflow-step {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 320px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 20px 60px rgba(49, 69, 244, 0.1);
}